# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.ContainerVervoer.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Kane\OneDrive - Office 365 Fontys\Software\Semester 2\ContainerVervoer\.idea\.idea.ContainerVervoer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
